<%#
 Copyright 2020 sandiko <androxoss@hotmail.com>
 Licensed to the public under the GNU General Public License v2.
-%>

<%+header%>

<ul class="cbi-tabmenu">
	<li class="cbi-tab"><a href="<%=luci.dispatcher.build_url("admin/autowms")%>"><%:Beranda%></a></li>
	<li class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/autowms/tentang")%>"><%:Tentang%></a></li>
</ul>




<div class="cbi-map">
        <%+autowms/a1.autowms_overview%>
</div>

<div class="cbi-map">
        <%+autowms/a2.autowms_register%>
</div>



<%+footer%>
